services:
  init-perms:
    image: alpine:3.20
    user: "0:0"
    volumes:
      - ccache:/ccache
      - conan:/conan
      - vscode:/vscode
    command: ["sh", "-lc", "chown -R ${UID}:${GID} /ccache /conan /vscode"]
  dev:
    user: "${UID}:${GID}"
    container_name: bolt-dev
    image: bolt-dev

    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      NO_PROXY: ${NO_PROXY}

    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: ${BASE_IMAGE}
        UID: ${UID}
        GID: ${GID}
        USERNAME: ${DEV_USERNAME}
        HTTP_PROXY: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        NO_PROXY: ${NO_PROXY}

    working_dir: /home/${DEV_USERNAME}/${DEV_WORKSPACE}

    volumes:
      - ~/${DEV_DIRECTORY}:/home/${DEV_USERNAME}/${DEV_WORKSPACE}
      - ccache:/home/${DEV_USERNAME}/.ccache
      - conan:/home/${DEV_USERNAME}/.conan2
      - vscode:/home/${DEV_USERNAME}/.vscode-server

    tty: true
    stdin_open: true

volumes:
  ccache:
  conan:
  vscode: