services:
    init-perms:
        image: alpine:3.20
        user: "0:0"
        volumes:
            - ccache:/ccache
            - conan:/conan
            - vscode:/vscode
            - zed:/zed
        command:
            ["sh", "-lc", "chown -R ${UID}:${GID} /ccache /conan /vscode /zed"]
    dev:
        # Note: Running as root to allow sshd to bind port 22 and read host keys
        # User switching happens after SSH login
        container_name: bolt-dev
        image: bolt-dev

        environment:
            HTTP_PROXY: ${HTTP_PROXY}
            HTTPS_PROXY: ${HTTPS_PROXY}
            NO_PROXY: ${NO_PROXY}

        build:
            context: .
            dockerfile: Dockerfile
            args:
                BASE_IMAGE: ${BASE_IMAGE}
                UID: ${UID}
                GID: ${GID}
                USERNAME: ${DEV_USERNAME}
                HTTP_PROXY: ${HTTP_PROXY}
                HTTPS_PROXY: ${HTTPS_PROXY}
                NO_PROXY: ${NO_PROXY}

        working_dir: /home/${DEV_USERNAME}/${DEV_WORKSPACE}

        ports:
            - "${HTTP_PORT}:${HTTP_PORT}"
            - "${SSH_PORT}:22"

        volumes:
            - ~/${DEV_DIRECTORY}:/home/${DEV_USERNAME}/${DEV_WORKSPACE}
            - ~/.ssh/authorized_keys:/home/${DEV_USERNAME}/.ssh/authorized_keys:ro
            - ccache:/home/${DEV_USERNAME}/.ccache
            - conan:/home/${DEV_USERNAME}/.conan2
            - vscode:/home/${DEV_USERNAME}/.vscode-server
            - zed:/home/${DEV_USERNAME}/.zed_server

        tty: true
        stdin_open: true

volumes:
    ccache:
    conan:
    vscode:
    zed:
