services:
  dev:
    container_name: bolt-oss
    image: bolt-oss

    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      NO_PROXY: ${NO_PROXY}

    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: ${DEV_USERNAME:-user}
        WORKSPACE: ${DEV_WORKSPACE:-Workspace}
        HTTP_PROXY: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        NO_PROXY: ${NO_PROXY}
        BASE_IMAGE: ${BASE_IMAGE}

    working_dir: /home/${DEV_USERNAME}/${DEV_WORKSPACE}

    volumes:
      - ~/${DEV_DIRECTORY}:/home/${DEV_USERNAME}/${DEV_WORKSPACE}
      - ccache:/home/${DEV_USERNAME}/.ccache
      - conan:/home/${DEV_USERNAME}/.conan2

    tty: true
    stdin_open: true

volumes:
  ccache:
  conan:
